*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Goud;
	src: url('../fonts/goud.ttf');
}
@font-face{
	font-family: Goud-Ornate;
	src: url('../fonts/goud-ornate.ttf');
}

body{
	background: black;
}

.game-title{
	text-align: center;
	margin: 10px;
	font-family: Goud-Ornate;
	font-size: 34pt;
	color: white;
	text-shadow: 2px 2px 5px #8fdd2c;
}
.mode-title{
	text-align: center; 
	margin: 5px;
	font-family: Goud;
	font-size: 24pt;
	color: white;
	text-shadow: 2px 2px 5px #8fdd2c;
}
.game-board{
	width: 800px;
	height: 500px;
	margin: 2% auto;
	position: relative;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	box-shadow: 10px 15px 10px #6d584a;
}

.player{
	transition: all 0.4s linear; 
}

.blink-death{
	display: none;
}

@media only screen 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
  	.game-title{
  		display: none;
  	}
  	.mode-title{
  		display: none;
  	}
  	.timer{
  		padding-top: 5px;
  	}
}
